body {
    height: 600px;
    width: 400px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  .underline {
    text-decoration: underline;
    margin-left: 4px;
  }

  .resize-none {
    resize: none;
  }